/* ---------- pagination ---------- */
.nav-pagination {
    margin: 40px 0 0 0;
}
.pagination {
    display: -ms-flexbox;
    display: flex;
    padding-left: 0;
    list-style: none;
    border-radius: .25rem;
}
.page-item:first-child .page-link {
    margin-left: 0;
    border-top-left-radius: .25rem;
    border-bottom-left-radius: .25rem;
}
.page-item:last-child .page-link {
    margin-left: 0;
    border-top-right-radius: .25rem;
    border-bottom-right-radius: .25rem;
}

.page-link {
    position: relative;
    display: block;
    padding: .5rem .75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #0275d8;
    background-color: #fff;
    border: 1px solid #dee2e6;
}
.page-link-current {
    position: relative;
    display: block;
    padding: .5rem .75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #fff;
    background-color: #0275d8;
    border: 1px solid #0275d8;
}
.page-link:hover {
    z-index: 2;
    color: #0056b3;
    text-decoration: none;
    background-color: #e9ecef;
    border-color: #dee2e6;
}

h1{
    font-size: 30px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 500;
    text-align: center;
    margin-top: 1em;
    margin-bottom: 1em;
}


/* ------------- table ------------ */
table{
    width:100%;
    table-layout: fixed;
}
.tbl-content{
    height:50vh;
    overflow-x:auto;
    margin-top: 0;
}

tbody tr:hover, tbody tr:hover a, tbody tr:hover a:visited{
    background-color: #0275d8;
    color: #b1b1b1;
}

th{
    padding: 1em 1em;
    font-weight: 900;
    font-size: 0.8em;
    color: #0275d8;
    text-transform: uppercase;
    border-bottom: solid 3px #0275d8;
}

.td-link, .td-link:visited {
    text-transform: uppercase;
    font-weight: 600;
    color: #0275d8;
}

td{
    padding: 0.5em 1em;
    vertical-align:middle;
    font-weight: 400;
    font-size: 1em;
    color: #fff;
    border-bottom: solid 1px rgba(255, 255, 255, 0.5);
}

/* for custom scrollbar for webkit browser */

::-webkit-scrollbar {
    width: 6px;
}
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
