/*@import './cms_topnav.css';*/
/*@import './cms_sidenav.css';*/
/*@import './cms_modal.css';*/

html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    left: 0;
    top: 0;
    font-size: 100%;
}

body{
    /*background-color: #818181;*/
    background: -webkit-linear-gradient(left, #818181, #b1b1b1);
    background: linear-gradient(to right, #818181, #b1b1b1);
}

* {
    box-sizing: border-box;
    font-family: "Lato", Helvetica, sans-serif;
    border: 0;
    margin: 0;
    padding: 0;
    /*color: #111;*/
}


/* ---------- Headings ---------- */
h1{
    font-size: 30px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 500;
    text-align: center;
    margin-top: 1em;
    margin-bottom: 1em;
}

a {
    text-decoration: none;
}

.blue {
    color: #0275d8 !important;
}
.black-gradient {
    /*background-color: #111; !* Black*!*/
    background: -webkit-linear-gradient(top, #000111, #011a31);
    background: linear-gradient(to bottom, #000111, #011a31);
}
.blue-gradient {
    /*background-color: #111; !* Black*!*/
    background: -webkit-linear-gradient(left, #0275d8, #0169c2);
    background: linear-gradient(to right, #0275d8, #0169c2);
}
.grey-bright {
    color: #818181 !important;
}

.content-sm {
    flex-direction:column;
    width: 600px;
    padding: 15px;
    margin: 0 auto;
}
.content-md {
    width: 1080px;
    padding: 15px;
    margin: 0 auto;
}
.content-bg {
    width: 100%;
    padding: 15px;
}

.text-left {
    text-align: left;
}
.text-center {
    text-align: center;
}
.text-right {
    text-align: right;
}

.font-900 {
    font-weight: 900;
}

.autowidth{
    table-layout: auto;
    width: 100%;
}

/* ---------- buttons ---------- */
.btn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding: .375rem .75rem;
    margin: 20px 10px 20px 10px;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.btn-primary {
    color: #fff;
    background-color: #0275d8;
    border-color: #0275d8;
}
.btn-primary:hover {
    background-color: #0169db;
}

.btn-secondary {
    color: #333;
    text-shadow: none;
    background-color: #fff;
    border: .05rem solid #fff;
}
.btn-secondary:hover {
    background-color: #dcdcdc;
}
