<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="/assets/css/layout.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/{{ css_style }}" />

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
{#    <script src="https://unpkg.com/vue@3/dist/vue.global.prod.js"></script>#}

    <script src="https://kit.fontawesome.com/09f85baf65.js" crossorigin="anonymous"></script>

    <title>{{ page_title }}</title>
</head>
