{% extends "@app/layout/base.html.twig" %}

{% set css_style = 'add-update.css' %}

{#{% set page_title = 'title_cms'|trans %}#}
{#{% set active_item = 'cms' %}#}
{#{% set active_sub_item = 'address' %}#}

{#{% set flash_values = flash('value') %}#}
{#{% set pagination = session('pagination') %}#}

{#{% set local = session('local') %}#}

{% block content %}

    <script>
        window.vItem       = "{{ body|json_encode()|e('js') }}";
        window.vList       = "{{ list|json_encode()|e('js') }}";
        window.vCsrf       = "{{ csrf()|e('js') }}";
        window.vDict       = "{{ get_dictionary(route_name())|json_encode()|e('js') }}";
        window.vSettings   = "{{ get_js_settings(route_name())|json_encode()|e('js') }}";
    </script>

    <div id="content-add-update" class="content-sm">
    </div>

    <script type="module" src="/assets/js/content-add-update.js"></script>

{% endblock %}
