{% extends "@app/layout/base.html.twig" %}

{% block content %}
    {{ 'DELETES' }}
    {{ dump() }}
{% endblock %}

{#        <h1>{{ flash_values.module_name_sc ~ '_show_all_paginated_list'|trans }}:</h1>#}

{#        <div class="tbl-header">#}
{#            <table cellpadding="0" cellspacing="0" border="0">#}
{#                <thead>#}
{#                <tr>#}
{#                    <th class="text-left">n°</th>#}

{#                    <th class="text-center">Identifier</th>#}
{#                    <th class="text-center">Reference</th>#}

{#                    <th class="text-center"></th>#}
{#                    <th class="text-center"></th>#}
{#                    <th class="text-center"></th>#}
{#                </tr>#}
{#                </thead>#}
{#            </table>#}
{#        </div>#}

{#        <div class="tbl-content">#}
{#            <table cellpadding="0" cellspacing="0" border="0">#}
{#                <tbody>#}
{#                {% for item in body %}#}
{#                    <tr>#}
{#                        <td class="text-left">{{ loop.index }}</td>#}

{#                        <td class="text-center">{{ item.id }}</td>#}
{#                        <td class="text-center">{{ item.ref }}</td>#}

{#                        <td class="text-center"><a  class="td-link" href="">details</a></td>#}
{#                        <td class="text-center"><a  class="td-link" href="">update</a></td>#}
{#                        <td class="text-center"><a  class="td-link" href="">remove</a></td>#}
{#                    </tr>#}
{#                {% endfor %}#}
{#                </tbody>#}
{#            </table>#}
{#        </div>#}

{#        {{ set_links()|raw }}#}

{#        <div class="list-buttons text-right">#}
{#            <a class="btn btn-primary" href="{{ url_for('ltcs.add') }}" role="button">{{ 'add_multiple'|trans }}</a>#}
{#            <a class="btn btn-primary" href="{{ url_for('ltcs.edit') }}" role="button">{{ 'edit_multiple'|trans }}</a>#}
{#            <a class="btn btn-primary" href="{{ url_for('ltcs.remove') }}" role="button">{{ 'remove_multiple'|trans }}</a>#}
{#            <a class="btn btn-primary" href="{{ url_for('ltc.add') }}" role="button">{{ 'add'|trans }}</a>#}
{#        </div>#}
