{% extends "@app/layout/base.html.twig" %}

{% set css_style = 'get-all-paginated.css' %}

{#{% set page_title = 'title_cms'|trans %}#}
{#{% set active_item = 'cms' %}#}
{#{% set active_sub_item = 'address' %}#}

{#{% set flash_values = flash('value') %}#}
{#{% set pagination = session('pagination') %}#}

{#{% set local = session('local') %}#}

{% block content %}

    <script>
        window.vItems      = "{{ body|json_encode()|e('js') }}";
        window.vPagination = "{{ set_links(uri_for(route_name()) ~ '/', pagination)|e('js') }}";
        window.vDict       = "{{ get_dictionary(route_name())|json_encode()|e('js') }}";
        window.vSettings   = "{{ get_js_settings(route_name())|json_encode()|e('js') }}";
    </script>

    <div id="content-get-all" class="content-md">
    </div>

    <script type="module" src="/assets/js/content-get-all.js"></script>

 {% endblock %}
