{% extends "@app/layout/base.html.twig" %}

{% block content %}
    {{ 'LOG OUT' }}
    {{ dump() }}

    <div>
        <form action="{{ url_for('auth.account.log-out') }}" method="post" novalidate>
            {{ csrf()|raw }}
            <div>
                <button type="submit">{{ trans('log_out') }}</button>
            </div>
        </form>
    </div>

{% endblock %}
