{% extends "@app/layout/base.html.twig" %}

{% block content %}
    {{ 'LOG IN' }}
    {{ dump() }}

    <div>
        <form action="{{ url_for('auth.account.log-in') }}" method="post" novalidate>
            <input type="text" name="email" value="{{ body.email }}" autocomplete="off" required/>
            <input type="text" name="password_hash" value="{{ body.password_hash }}" autocomplete="off" required/>
            <input type="text" name="audience" value="auth-apc" autocomplete="off" required/>
            {{ csrf()|raw }}
            <div>
                <button type="submit">{{ trans('log_in') }}</button>
            </div>
        </form>
    </div>

{% endblock %}
